#tusmo_resolver {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 500px;
    background-color: #EEE;
}

#search_button {
    cursor: pointer;
    background-color: #999;
    padding: 2px 4px;
}
#search_button:hover {
    background-color: #777;
}

.word {
    cursor: pointer;
}
.word:hover {
    background-color: #DDD;
    padding: 2px 4px;
}

#found_words_title, .no_word_found, .word {
    color: black;
}

#found_words_title {
    display: none;
}

#search_list {
    height: 100%;
    overflow-y: scroll;
}

